<HTML>
    <head>
        <style>
            #todo-react-wrapper iframe {
                height: 80vh;
                width: 80vw;
                margin-left:10vw;
                margin-right:auto;
                border: solid 2px brown;
                border-radius: 0.5rem;
            }
        </style>
    </head>
    <body>
        <h1>Django Wrapper For React TODO:</h1>
        <div id="todo-react-wrapper">
            <iframe src="http://localhost:8080"></iframe>
        </div>

    </body>
</HTML>